<!DOCTYPE html>
<html>
  <!------------------------------------------------------------------------>
  <!-- ======================== HEAD ==================================== -->
  <!------------------------------------------------------------------------>
  <head>
    <meta charset="utf-8">
    <title>Home Page Template</title>

    <!-- ===================== STYLE SHEETS ============================= -->
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
  </head>

  <!------------------------------------------------------------------------>
  <!-- ======================== BODY ==================================== -->
  <!------------------------------------------------------------------------>
  <body>
    <!-- ======================= HEADER ============================== -->
    <header>
      <h1>Home</h1>

      <!-- NAVIGATION BAR -->
      <nav>
      </nav>
    </header>

    <!-- ======================== FOOTER ============================= -->
    <footer>
      &copy; HTML Template.
    </footer>
  </body>
</html>
